* {
  font-family: "poppins", sans-serif;
}

.brandname {
  height: 55px;
}
.brandname:hover {
  scale: 1.1;
  transition: 0.3s ease;
}
.brandname1{
  height:90px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#navitems li {
  padding: 0 3px;
}

#HOME {
  /* background: url(./assets/homebg.jpg) no-repeat; */
  background-position: center;
  background-size: cover;
  height: 103vh;

  padding-top: 80px;
  display: flex;
  justify-content: center;
}
.video-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 110%;
	overflow: hidden;
	z-index: -1;
}

.video-background video {
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}
.homediv {
  padding-top: 15px;
  z-index : 1;
}
.presenters {
  padding-top: 10%;
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  align-items: center;
  justify-content: space-around;
}


.svnitlogo {
  width : 140px;
  height: 140px;
}
.cheslogo {
  height: 160px;
}
.and {
  color: white;
  font-size: 40px;
  font-weight: 400;
  padding-left: 0px;
  padding-right: 0px;
}
.text {
  text-align: center;
  color: white;
  margin: 20px 0;
  padding: 10px 0;
}
.text h1 {
  font-size: 28px;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
}
.period {
  text-align: center;
  color: white;
}
.aiche {
  display: flex;
  justify-content: center;
  /* margin: 30px 0; */
  height: 100px;
  margin-top:1rem;
  /* padding-top: 5px; */
}

@media (max-width: 560px) {
  .svnitlogo {
    width:100px;
    height: 100px;
  }
  .cheslogo {
    height: 110px;
  }
  .and {
    font-size: 30px;
  }
  .text h1 {
    font-size: 22px;
  }
  .text h3 {
    font-size: 18px;
  }
  .brandname1{
    height:65px;
  }
}

/* CSS */
.button-18 {
  align-items: center;
  background-color: #0a66c2cd;
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding: 10px 40px;
  text-align: center;
  touch-action: manipulation;

  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
  background-color: #16437e;
  color: #ffffff;
}
#footer {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top : 10rem;
  justify-content: center;
}
.aichefoot {
  height: 60px;
  margin: 1.5em 0 0 0;
}
.footertext {
  margin: 10px 0;
  text-align: left;
  color: white;
  width: 100%;
}
.footertext h1 {
  font-size: 25px;
}
.footertext h2 {
  font-size: 16px;
  padding: 2px 0;
}
.footicons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 3em;
  padding-top: 1em;
}
.footicons i {
  color: #ffffff;
  font-size: 25px;
  margin: 10px;
}
.footicons i:hover {
  color: #a0d8a5;
}
#ABOUT {
  /* background: url(./assets/aboutcbg.jpg) no-repeat; */
  /* object-fit: cover; */
  object-position: center;
  padding-bottom: 40px;
}
h4 {
  font-size: 3em;
  padding: 30px 0;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  /* background-image: url(./assets/abouttextbg.avif);
  background-repeat: repeat;
  -webkit-background-clip: text;
  color: transparent; */
}
@media (min-width: 768px) {
  h4 {
    font-size: 4em;
  }
}

.callout-text {
  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.testimonial-carousel {
  /* background-image: url(./assets/aboutbg.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  height: 80vh;
  position: relative;
  padding: 20px 0px;
  display: flex;
  width: 98%;
  border-radius: 15px;
}
.testimonial-carousel .icon-container {
  position: relative;
  padding: 5px 15px;
  max-width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
@media (min-width: 768px) {
  .testimonial-carousel .icon-container {
    max-width: 80px;
    padding: 0 10px;
  }
}
.lnr {
  padding: 5px;
}
.testimonial-carousel .icon-container span.lnr {
  color: #dadada;
  font-size: 1.5em;
  cursor: pointer;
  transition: color 0.3s linear;
}
@media (min-width: 768px) {
  .testimonial-carousel .icon-container span.lnr {
    font-size: 2em;
  }
}
.testimonial-carousel .icon-container span.lnr:hover {
  color: #fff;
}
.testimonial-carousel h2 {
  padding-top: 10px;
  font-size: 1.5em;
}
.testimonial-carousel p {
  font-size: 0.8em;
  text-align: justify;
  color: #fff;
  padding: 5px 10px;
}
@media (min-width: 768px) {
  .testimonial-carousel p {
    font-size: 1.1em;
  }
}

.testimonial-items {
  position: relative;
  flex: 1;
  overflow: hidden;
  color: #fff;
}
@media (max-width: 768px) {
  .testimonial-items {
    /* overflow-y: scroll; */
  }
}

.testimonial-item {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.testimonial-item p.testimonial-author {
  font-weight: bold;
  text-align: right;
}
.testimonial-item.first {
  left: 0;
}
.testimonial-item.second {
  left: 100%;
}
.testimonial-item.third {
  left: 200%;
}
.testimonial-item.fourth {
  left: 300%;
}

.aboutimage img {
  width: 60%;
  aspect-ratio: 3/2;
  object-fit: contain;

  padding: 5px;
}
@media (min-width: 700px) {
  .aboutimage img {
    width: 20%;
  }
}
